<!-- History Table -->
<div class="table-container">
    <table class="ship-table">
        <thead>
            <tr>
                <th colspan="2">History</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Ship Name</td><td></td></tr>
            <tr><td>Shipyard Builder</td><td></td></tr>
            <tr><td>Laid Down</td><td></td></tr>
            <tr><td>Completed</td><td></td></tr>
            <tr><td>Commissioned</td><td></td></tr>
            <tr><td>Sunken</td><td></td></tr>
            <tr><td>Fate</td><td></td></tr>
        </tbody>
    </table>
</div>

<!-- Initial Technical Specifications Table -->
<div class="table-container">
    <table class="ship-table">
        <thead>
            <tr>
                <th colspan="2">Initial Technical Specifics</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Class + Type</td><td></td></tr>
            <tr><td>Displacement</td><td></td></tr>
            <tr><td>Length</td><td></td></tr>
            <tr><td>Beam</td><td></td></tr>
            <tr><td>Draft</td><td></td></tr>
            <tr><td>Installed Power</td><td></td></tr>
            <tr><td>Propulsion</td><td></td></tr>
            <tr><td>Speed</td><td></td></tr>
            <tr><td>Range</td><td></td></tr>
            <tr><td>Crew Complement</td><td></td></tr>
            <tr><td>Armament</td><td></td></tr>
            <tr><td>Armour</td><td></td></tr>
        </tbody>
    </table>
</div>