<h2>Technical Specifications</h2>
    <h3>History</h3>
        <p>
            <table>
                <tr>
                    <td>Ship Name&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Shipyard Builder&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Laid Down&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Completed&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Commissioned&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sunken&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fate&emsp;</td>
                    <td></td>
                </tr>
            </table>
        </p>

     <h3>Inital Technical Specs</h3>
        <p>
            <table>
                <tr>
                    <td>Class + Type&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dispacement&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Length&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Beam&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Draft&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Installed Power&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Propulsion&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Speed&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Range&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Crew Complement&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Armament&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Armour&emsp;</td>
                    <td></td>
                </tr>


            </table>
        </p>
    